In [1]:
import pandas as pd 
import numpy as np 

#import data from the clean csv file
df = pd.read_csv('data/metadata_clean.csv')

#print the head of the cleaned dataframe
df.head()

                         title  ...  year
0                    Toy Story  ...  1995
1                      Jumanji  ...  1995
2             Grumpier Old Men  ...  1995
3            Waiting to Exhale  ...  1995
4  Father of the Bride Part II  ...  1995

[5 rows x 6 columns]

In [2]:
#import the original file
orig_df = pd.read_csv('data/movies_metadata.csv', low_memory=False)

#add the useful features into the cleaned dataframe
df['overview'], df['id'] = orig_df['overview'], orig_df['id']

df.head()

                         title  ...     id
0                    Toy Story  ...    862
1                      Jumanji  ...   8844
2             Grumpier Old Men  ...  15602
3            Waiting to Exhale  ...  31357
4  Father of the Bride Part II  ...  11862

[5 rows x 8 columns]

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

#define a TF-IDF Vectorizer object. remove all english stop words
tfidf = TfidfVectorizer(stop_words='english')

#replace NaN with empty string
df['overview'] = df['overview'].fillna('')

#construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
tfidf_matrix = tfidf.fit_transform(df['overview'])

#output the shape of TF-IDF matrix
tfidf_matrix.shape

(45466, 75827)