In [2]:
import pandas as pd 
import numpy as np 

df = pd.read_csv('data/movies_metadata.csv')
#print all features(or columns) of the dataframe
df.columns

C:\Users\Masked\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
#only keep those features that we require
df = df[['title', 'genres', 'release_date', 'runtime', 'vote_average', 'vote_count']]
df.head()

                         title  ... vote_count
0                    Toy Story  ...     5415.0
1                      Jumanji  ...     2413.0
2             Grumpier Old Men  ...       92.0
3            Waiting to Exhale  ...       34.0
4  Father of the Bride Part II  ...      173.0

[5 rows x 6 columns]

In [6]:
#convert release_date into pandas datetime format
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

#extract year from the datetime
df['year'] = df['release_date'].apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

C:\Users\Masked\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [7]:
#helper function to convert NaT to 0 and all other years to integers
def convert_int(x):
    try:
        return int(x)
    except:
        return 0

#apply convert_int to the year feature
df['year'] = df['year'].apply(convert_int)

In [8]:
#drop the release_date column
df = df.drop('release_date', axis=1)

#display the dataframe
df.head()

                         title  ...  year
0                    Toy Story  ...  1995
1                      Jumanji  ...  1995
2             Grumpier Old Men  ...  1995
3            Waiting to Exhale  ...  1995
4  Father of the Bride Part II  ...  1995

[5 rows x 6 columns]

In [9]:
#print genres of the first movie
df.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [10]:
#import literal_eval function from ast
from ast import literal_eval

#define a stringified list and output it's type
a = "[1, 2, 3]"
print(type(a))

#apply literal_eval and output type
b = literal_eval(a)
print(type(b))

<class 'str'>
<class 'list'>

In [11]:
#convert all NaN to stringified empty lists
df['genres'] = df['genres'].fillna('[]')

#apply literal_eval to convert to the list object
df['genres'] = df['genres'].apply(literal_eval)

#convert list of dictionaries to a list of strings
df['genres'] = df['genres'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

df.head()

                         title                        genres  ...  vote_count  year
0                    Toy Story   [Animation, Comedy, Family]  ...      5415.0  1995
1                      Jumanji  [Adventure, Fantasy, Family]  ...      2413.0  1995
2             Grumpier Old Men             [Romance, Comedy]  ...        92.0  1995
3            Waiting to Exhale      [Comedy, Drama, Romance]  ...        34.0  1995
4  Father of the Bride Part II                      [Comedy]  ...       173.0  1995

[5 rows x 6 columns]

In [13]:
#create a new feature by exploding genres
s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

#name the new feature as genre
s.name = 'genre'

#create a new dataframe gen_df which by dropping the old 'genres' feature and adding the new 'genre'
gen_df = df.drop('genres', axis=1).join(s)

#print the head of gen_df
gen_df.head()

C:\Users\Masked\AppData\Local\Temp/ipykernel_2344/3547454691.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

       title  runtime  vote_average  vote_count  year      genre
0  Toy Story     81.0           7.7      5415.0  1995  Animation
0  Toy Story     81.0           7.7      5415.0  1995     Comedy
0  Toy Story     81.0           7.7      5415.0  1995     Family
1    Jumanji    104.0           6.9      2413.0  1995  Adventure
1    Jumanji    104.0           6.9      2413.0  1995    Fantasy

In [21]:
def build_chart(gen_df, percentile=0.8):
    #ask for preferred genres
    print('Input preferred genre:')
    genre = input()

    #ask for lower limit of duration
    print('Input shortest duration:')
    low_time = int(input())
    
    #ask for upper limit of duration
    print('Input longest duration:')
    high_time = int(input())

    #ask for lower limit of timeline
    print('Input earliest year:')
    low_year = int(input())

    #ask for upper limit of timeline
    print('Input latest year:')
    high_year = int(input())

    #define a new movies variable to store preferred movies. Copy the contents of gen_df to movies
    movies = gen_df.copy()

    #Filter based on the condition
    movies = movies[(movies['genre'] == genre) & 
                    (movies['runtime'] >= low_time) & 
                    (movies['runtime'] <= high_time) & 
                    (movies['year'] >= low_year) & 
                    (movies['year'] <= high_year)]

    #compute the values of C and m for the filtered movies
    C = movies['vote_average'].mean()
    m = movies['vote_count'].quantile(percentile)

    #only consider movies that have higher than m votes. Save this in a new dataframe q_movies
    q_movies = movies.copy().loc[movies['vote_count'] >= m]

    #calculate the score using IMDB formula
    q_movies['score'] = q_movies.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average'])                                          + (m/(m+x['vote_count']) * C), axis=1)

    #sort movies in descending order of their score
    q_movies = q_movies.sort_values('score', ascending=False)

    return q_movies

In [22]:
#Generate the chart for top animation movies and display top 5
build_chart(gen_df).head()

Input preferred genre:
Input shortest duration:
Input longest duration:
Input earliest year:
Input latest year:

ValueError: Wrong number of items passed 6, placement implies 1

In [25]:
#convert the cleaned and non-exploded dataframe df into a CSV file and save it in the data folder
#set parameter index to false as the index of the dataframe has no inherent meaning
df.to_csv('data/metadata_clean.csv', index=False)